    form
    {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 300px;
    }
    textarea
    {
        resize: none;
        width: 200px;
        height: 200px;
    }
    .aaa
    {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    #error-dialog > div
    {
        width: fit-content;
    }