@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root 
{
  --primary: #cb2525;
  --primary-light: #d32f2f;
  --secondary: #BF9232;
  --dark: #0a0a0a;
  --dark-light: #1e1e1e;
  --gray: #2c2c2c;
  --light: #eeeeee;
  --light-small: ffffffcc;
  --success: #66bb6a;
  --error: #ef5350;
}

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}

body 
{
  background-color: var(--dark);
  color: var(--light);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.main-container
{
  max-width: 1280px;
  padding: 2rem 1rem 1rem 1rem;
  margin: 5rem auto 0 auto;
}