# PostgreSQL
POSTGRES_USER=appuser
POSTGRES_PASSWORD=strongpassword
POSTGRES_DB=appdb
POSTGRES_DATA_PATH=./xyz/postgres
POSTGRES_PORT=8112

# SVN / Apache
SVN_REPO_NAME=elements
SVN_DATA_PATH=./xyz/svn
SVN_PORT=8111

# Nginx / SSL
DOMAIN=localhost   # local IP address or domain name
SSL_CERT_PATH=/home/certs
FRONTEND_PORT=8110
SVN_PATH=/svn