<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{{title}}</title>
        <link rel="icon" href="{{url_for('static', filename='img/ico.ico')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/general.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/utils/toast.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/utils/dialog.css')}}">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    </head>
    {% block css %}
    
    {% endblock %}
    <body>
        <div class ="content-container">
            <div class="navbar">
                <a class="logo" href="{{url_for('dashboard')}}"><img src="{{url_for('static', filename='img/logo.png')}}" alt="ONYKS Logo"></a>
                <div class="nav-btns">
                    <a class="nav-btn {% if active_page == 'dashboard' %} open{% endif %}" href="{{url_for('dashboard')}}">Strona Główna</a>
                    <a class="nav-btn {% if active_page == 'search_components' %} open{% endif %}" href="{{url_for('search_compontents')}}">Wyszukiwarka</a>
                    <a class="nav-btn {% if active_page == 'explorer' %} open{% endif %}" href="{{url_for('explorer')}}">Eksplorator</a>
                    <a class="nav-btn {% if active_page == 'settings' %} open{% endif %}" href="{{url_for('settings')}}">Ustawienia</a>
                    <a class="nav-btn" href="https://github.com/knonyks" id="onyks-github-btn" target="_blank">ONYKS</a>
                </div>
                <div class="navbar-show-hide-btn"></div>
            </div>
            <div class="main-container">
            {% block content %}
            
            {% endblock %}
            </div>
            <div class="footer">
                <div class="footer-content">
                    <div class="footer-content-part footer-additional">
                        <a href="{{url_for('dashboard')}}" class="footer-link">Strona Główna</a>
                        <a href="{{url_for('search_compontents')}}" class="footer-link">Wyszukiwarka</a>
                        <a href="{{url_for('explorer')}}" class="footer-link">Eksplorator</a>
                        <a href="{{url_for('settings')}}" class="footer-link">Ustawienia</a>
                        <a href="{{url_for('how_to_configure')}}" class="footer-link">Konfiguracja</a>
                    </div>
                    <div class="footer-content-part footer-socials">
                        <a class="footer-social" id="instagram" href="https://www.instagram.com/knonyks/"></a>
                        <a class="footer-social" id="facebook" href="https://www.facebook.com/knonyks"></a>
                        <a class="footer-social" id="www" href="https://www.onyks.elka.pw.edu.pl/"></a>
                        <a class="footer-social" id="mail" href="mailto:kn.onyks@gmail.com"></a>
                    </div>
                </div>
                <div class="footer-copyright">©2025 ONYKS Scientific Club of Microsystems Warsaw University of Technology</div>
            </div>
            <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
            <script src="{{ url_for('static', filename='js/utils/toast.js') }}"></script>
            <script src="{{url_for('static', filename='js/utils/dialog.js')}}"></script>
            {% block js %}

            {% endblock %}
        </div>
    </body>
</html>