<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>{{title}}</title>
        <link rel="icon" href="{{url_for('static', filename='img/ico.ico')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/general.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/toast.css')}}">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    </head>
    {% block css %}
    
    {% endblock %}
    <!-- BODY -->
    <body>
        <div class="navbar">
            <a class="logo" href="/dashboard">
                <img src="{{url_for('static', filename='img/logo.png')}}" alt="ONYKS Logo">
            </a>
            <div class="nav-btns">
                <a class="nav-btn {% if active_page == 'dashboard' %}open{% endif %}" href="/dashboard">Strona Główna</a>
                <a class="nav-btn {% if active_page == 'search_components' %}open{% endif %}" href="/search_components">Wyszukiwarka</a>
                <a class="nav-btn {% if active_page == 'symbols' %}open{% endif %}" href="/symbols">Symbole</a>
                <a class="nav-btn {% if active_page == 'footprints' %}open{% endif %}" href="/footprints">Footprinty</a>
                <a class="nav-btn {% if active_page == 'settings' %}open{% endif %}" href="/settings">Ustawienia</a>
                <a class="nav-btn" href="https://github.com/knonyks" id="onyks-github-btn" target="_blank">ONYKS</a>
            </div>
            <div class="navbar-show-hide-btn"></div>
        </div>
        <main class="main-container">
            {% block content %}
            
            {% endblock %}
        </main>
    </body>
</html>

<!-- Skrypt do obsłygi przycisków, suwaka itp. -->
<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
<script src="{{ url_for('static', filename='js/sort.js') }}"></script>
<script src="{{ url_for('static', filename='js/toast.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% block js %}

{% endblock %}