<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>{{title}}</title>
        <link rel="icon" href="{{url_for('static', filename='images/ico.ico')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <!-- BODY -->
    <body>
        <div class="navbar">
            <div class="logo" id="menuToggle">
                <img src="{{url_for('static', filename='images/logo.png')}}" alt="ONYKS Logo">
            </div>
            <div class="nav-btn" id="navLinks">
                <a class="btn" href="/dashboard">Strona Główna</a>
                <a class="search" href="/search_components">Wyszukiwarka</a>
                <a class="btn" href="/symbols">Symbole</a>
                <a class="btn" href="/footprints">Footprinty</a>
                <a class="btn" href="/settings">Ustawienia</a>
            </div>
            <div class="github"><a href="https://github.com/knonyks"></a></div>
        </div>
        <main class="main-container">
            {% block content %}
            
            {% endblock %}
        </main>
    </body>
</html>

<!-- Skrypt do obsłygi przycisków, suwaka itp. -->

{% block scripts %}
<script src="{{ url_for('static', filename='JS/sort.js') }}"></script>
{% endblock %}