{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
{% endblock %}

{% block content %}
<div class="dashboard dashboard-grid">
    <!-- Duża karta -->
    <div class="large-card">
        <h2>Zgromadzone Elementy</h2>
        <div class="stat-number">{{componentsDatabaseCount}}</div>
        <p class="stat-label">Łączna liczba elementów</p>
        <p><strong>Nowe dzisiaj: </strong>{{componentsDatabaseTodaysCount}}</p>
        <p><strong>Ostatnio dodany: </strong>{{componentsDatabaseLastAddedPartName}}</p>
    </div>

    <!-- Małe karty -->
    <div class="small-cards">
        <div class="small-card">
            <h2>Footprinty</h2>
            <div class="stat-number">{{componentsFootprintsCount}}</div>
            <p class="stat-label">Dostępne footprinty</p>
        </div>

        <div class="small-card">
            <h2>Symbole</h2>
            <div class="stat-number">{{componentsSymbolsCount}}</div>
            <p class="stat-label">Dostępne symbole</p>
        </div>
    </div>

    <!-- Długa karta -->
    <div class="last-change-card">
        <div class="left">
            <h2>Ostatnia Zmiana</h2>
            <p><strong>Autor:</strong> Jan Kowalski</p>
            <p><strong>Data:</strong> 2025-07-21 14:32</p>
        </div>
        <div class="right">
            <h2>&nbsp;</h2>
            <p><strong>Zmiana:</strong> Dodano footprint do LM317</p>
            <p><strong>Komentarz:</strong> Aktualizacja zgodnie z datasheet</p>
        </div>
    </div>
</div>
{% endblock %}