{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
{% endblock %}

{% block content %}
{% if are_users_enabled %}

<div class="general-box">
    <div class="label">Witaj {{current_user.name}}!</div>
    <a class="logout" href="{{url_for('logout')}}">Wyloguj się</a>
</div>

{% endif %}
<div class="dashboard dashboard-grid">
    <!-- Duża karta -->
    <div class="large-card">
        <h2>Zgromadzone Elementy</h2>
        <div class="stat-number">{{elemenents_amount}}</div>
        <p class="stat-label">Łączna liczba elementów</p>
        <p><strong>Nowe dzisiaj: </strong>{{elements_todays_amount}}</p>
        <p><strong>Ostatnio dodany: </strong>{{last_element_added}}</p>
    </div>

    <!-- Małe karty -->
    <div class="small-cards">
        <div class="small-card">
            <h2>Footprinty</h2>
            <div class="stat-number">{{footprints_amount}}</div>
            <p class="stat-label">Dostępne footprinty</p>
        </div>

        <div class="small-card">
            <h2>Symbole</h2>
            <div class="stat-number">{{symbols_amount}}</div>
            <p class="stat-label">Dostępne symbole</p>
        </div>
    </div>
    {% for key, value in categories_elements_amount.items() %}
        <div class="" style="display: flex; flex-direction: column; background-color: red;">
            <div class="">{{key}}</div>
            <div class="">{{value}}</div>
        </div>
    {% endfor %}
    <!-- Długa karta -->
    <!-- <div class="last-change-card">
        <div class="left">
            <h2>Ostatnia Zmiana</h2>
            <p><strong>Autor:</strong> Jan Kowalski</p>
            <p><strong>Data:</strong> 2025-07-21 14:32</p>
        </div>
        <div class="right">
            <h2>&nbsp;</h2>
            <p><strong>Zmiana:</strong> Dodano footprint do LM317</p>
            <p><strong>Komentarz:</strong> Aktualizacja zgodnie z datasheet</p>
        </div>
    </div> -->
</div>
{% endblock %}