{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/utils/explorer.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/element_form.css')}}">
{% endblock %}

{% block content %}



<div class="dialog" id="confirmation-dialog">
    <div>
        <div class="dialog-top-bar-title">Komunikat</div>
        <div class="dialog-top-bar-close"></div>
        <div class="dialog-content">
            Czy jesteś pewien, że chcesz kontynuować?
        </div>
        <div class="dialog-bottom-btns">
            <div class="dialog-bottom-btn yes">Yes</div>
            <div class="dialog-bottom-btn no">No</div>
        </div>
    </div>
</div>

<div class="dialog" id="symbol-dialog">
    <div>
        <div class="dialog-top-bar-title">Wybierz symbol</div>
        <div class="dialog-top-bar-close"></div>
        <div class="dialog-content">
            <div class="explorer" id="symbol-explorer">
                <div class="explorer-navbar">
                    <input type="search" class="explorer-navbar-search"/>
                </div>
                <div class="explorer-browser">
                    <div class="explorer-path"></div>
                    <div class="explorer-content"></div>
                </div>
            </div>
        </div>
        <div class="dialog-bottom-btns">
            <div class="dialog-bottom-btn ok">OK</div>
        </div>
    </div>
</div>

<div class="dialog" id="footprint-dialog">
    <div>
        <div class="dialog-top-bar-title">Wybierz symbol</div>
        <div class="dialog-top-bar-close"></div>
        <div class="dialog-content">
            <div class="explorer" id="footprint-explorer">
                <div class="explorer-navbar">
                    <input type="search" class="explorer-navbar-search"/>
                </div>
                <div class="explorer-browser">
                    <div class="explorer-path"></div>
                    <div class="explorer-content"></div>
                </div>
            </div>
        </div>
        <div class="dialog-bottom-btns">
            <div class="dialog-bottom-btn ok">OK</div>
        </div>
    </div>
</div>

<div class="dialog" id="error-dialog">
    <div>
        <div class="dialog-top-bar-title">Komunikat</div>
        <div class="dialog-top-bar-close"></div>
        <div class="dialog-content">Nie wybrano elementu!</div>
        <div class="dialog-bottom-btns">
            <div class="dialog-bottom-btn ok">OK</div>
        </div>
    </div>
</div>

<form method="POST" id="element-form">
    {{ form.hidden_tag()}}
    {{ form.part_name.label}}
    {{ form.part_name(size=32, placeholder="Part name")}}

    {% for error in form.part_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}

    {{form.category.label}}
    {{form.category()}}

    {{ form.manufacturer.label}}
    {{ form.manufacturer(size=32, placeholder="manufacturer")}}

    {{ form.description.label }}
    {{ form.description(rows=5, cols=32, placeholder="Description (max 256 characters)")}}
    {% for error in form.description.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}

    {{form.library_ref.label }}
    {{form.library_ref(placeholder="library_ref", id="library-ref")}}

    {{form.library_path.label }}
    {{form.library_path(placeholder="library_path", id="library-path")}}

    <button id="symbol-picker-btn" type="button">Pick symbol</button>

    {{form.footprint_ref_1.label }}
    {{form.footprint_ref_1(placeholder="footprint_ref_1", id="footprint-ref-1")}}

    {{form.footprint_path_1.label }}
    {{form.footprint_path_1(placeholder="footprint_path_1", id="footprint-path-1")}}

    <button id="footprint-picker-1-btn" type="button">Pick footprint no. 1</button>

    {{form.footprint_ref_2.label }}
    {{form.footprint_ref_2(placeholder="footprint_ref_2", id="footprint-ref-2")}}

    {{form.footprint_path_2.label }}
    {{form.footprint_path_2(placeholder="footprint_path_2", id="footprint-path-2")}}

    <button id="footprint-picker-2-btn" type="button">Pick footprint no. 2</button>

    {{form.footprint_ref_3.label }}
    {{form.footprint_ref_3(placeholder="footprint_ref_3", id="footprint-ref-3")}}

    {{form.footprint_path_3.label }}
    {{form.footprint_path_3(placeholder="footprint_path_3", id="footprint-path-3")}}

    <button id="footprint-picker-3-btn" type="button">Pick footprint no. 3</button>

    {{ form.accept(class="btn btn-primary", id='aaa') }}
</form>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/utils/explorer.js') }}"></script>
<script src="{{ url_for('static', filename='js/element_form.js') }}"></script>
{% endblock %}