{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/utils/explorer.css')}}">
{% endblock %}

{% block content %}
<div class="explorer" id="explorer">
    <div class="explorer-navbar">
        <input type="search" class="explorer-navbar-search"/>
        <div class="explorer-navbar-btn upload">Upload</div>
        <div class="explorer-navbar-btn delete">Delete</div>
    </div>
    <div class="explorer-browser">
        <div class="explorer-path">
            <div class="explorer-path-obj" data-set-id="0">a</div>
            <div class="explorer-path-obj" data-set-id="1">b</div>
            <div class="explorer-path-obj" data-set-id="2">c</div>
            <div class="explorer-path-obj" data-set-id="3">zbyszek zamachowski</div>
            <div class="explorer-path-obj" data-set-id="4">folder</div>
        </div>
        <div class="explorer-content">
            <div class="explorer-content-obj schlib">
                <div class="explorer-content-obj-name">Symbols.SchLib</div>
                <div class="explorer-content-obj-info-btn"></div>
            </div>

            <div class="explorer-content-obj pcblib">
                <div class="explorer-content-obj-name">Footprints.PcbLib</div>
                <div class="explorer-content-obj-info-btn"></div>
            </div>

            <div class="explorer-content-obj file">
                <div class="explorer-content-obj-name">Photo.png</div>
                <div class="explorer-content-obj-info-btn"></div>
            </div>

            <div class="explorer-content-obj symbol">
                <div class="explorer-content-obj-name">LEDSDADAS</div>
                <div class="explorer-content-obj-info-btn"></div>
            </div>

            <div class="explorer-content-obj footprint">
                <div class="explorer-content-obj-name">LEDSDADAS</div>
                <div class="explorer-content-obj-info-btn"></div>
            </div>

            <div class="explorer-content-obj folder">
                <div class="explorer-content-obj-name">Folder</div>
                <div class="explorer-content-obj-info-btn"></div>
            </div>

            <div class="explorer-content-obj folder">
                <div class="explorer-content-obj-name">Folder</div>
                <div class="explorer-content-obj-info-btn"></div>
            </div>

            <div class="explorer-content-obj folder">
                <div class="explorer-content-obj-name">Folder</div>
                <div class="explorer-content-obj-info-btn"></div>
            </div>

            <div class="explorer-content-obj folder">
                <div class="explorer-content-obj-name">Folder</div>
                <div class="explorer-content-obj-info-btn"></div>
            </div>

            <div class="explorer-content-obj folder">
                <div class="explorer-content-obj-name">Folder</div>
                <div class="explorer-content-obj-info-btn"></div>
            </div>

            <div class="explorer-content-obj symbol">
                <div class="explorer-content-obj-name">LEDSDADAS</div>
                <div class="explorer-content-obj-info-btn"></div>
            </div>

            <div class="explorer-content-obj footprint">
                <div class="explorer-content-obj-name">LEDSDADAS</div>
                <div class="explorer-content-obj-info-btn"></div>
            </div>

            <div class="explorer-content-obj symbol">
                <div class="explorer-content-obj-name">LEDSDADAS</div>
                <div class="explorer-content-obj-info-btn"></div>
            </div>

            <div class="explorer-content-obj footprint">
                <div class="explorer-content-obj-name">LEDSDADAS</div>
                <div class="explorer-content-obj-info-btn"></div>
            </div>

            <div class="explorer-content-obj symbol">
                <div class="explorer-content-obj-name">LEDSDADAS</div>
                <div class="explorer-content-obj-info-btn"></div>
            </div>

            <div class="explorer-content-obj footprint">
                <div class="explorer-content-obj-name">LEDSDADAS</div>
                <div class="explorer-content-obj-info-btn"></div>
            </div>

            <div class="explorer-content-obj symbol">
                <div class="explorer-content-obj-name">LEDSDADAS</div>
                <div class="explorer-content-obj-info-btn"></div>
            </div>

            <div class="explorer-content-obj footprint">
                <div class="explorer-content-obj-name">dasdasdasdasdasdasdasdasdasdasdasdasdasdasdas</div>
                <div class="explorer-content-obj-info-btn"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='js/utils/explorer.js')}}"></script>
<script src="{{url_for('static', filename='js/explorer.js')}}"></script>
{% endblock %}