{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/search_components.css')}}">
{% endblock %}

{% block content %}
    
    <div class="search-container" style="display: flex; flex-direction: column;">
        <div style="display: flex; flex-direction: row; gap: 1rem; margin-bottom: 1rem;">
            <a href="{{url_for('element_create')}}" style="padding: 1rem; width: 200px; background-color: red;">Create</a>
            <div style="padding: 1rem; width: 200px; background-color: red;" id="edit-btn">Edit</div>
            <div style="padding: 1rem; width: 200px; background-color: red;" id="duplicate-btn">Duplicate</div>
            <div style="padding: 1rem; width: 200px; background-color: red;" id="details-btn">Details</div>
        </div>
        <div style="display: flex; flex-direction: row; gap: 1rem; margin-bottom: 1rem;">
            <div style="padding: 1rem; width: 200px; background-color: red;" id="delete-btn">Delete</div>
            <div style="padding: 1rem; width: 200px; background-color: red;" id="print-list-btn">Print list</div>
            <div style="padding: 1rem; width: 200px; background-color: red;" id="generate-labels-btn">Generate labels</div>
        </div>

        <h4>Search in</h4>
        <div style="display: flex; flex-direction: row; gap: 1rem; margin-bottom: 1rem;" id="categories">
            {% for category in categories %}
                <div>
                    <input type="checkbox" class="category" data-name="{{category}}" checked>
                    <div>{{ category }}</div>
                </div>
            {% endfor %}
        </div>

        <h4>Search in</h4>
        <div style="display: flex; flex-direction: row; gap: 1rem; margin-bottom: 1rem; width: 100%; overflow-y: auto;" id="fields">
            {% for field in fields %}
                
                    
                    {% if field[0] != 'datasheet' %}
                    <div>
                        <input type="checkbox" class="field" data-name="{{field[0]}}">
                        <div>{{ field[1] }}</div>
                    </div>
                    {% endif %}
                
            {% endfor %}
        </div>

        <input type="search" style="width: 200px;" id="search">
        <div id="counter">0/0</div>
    </div>  

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>UUID</th>
                    <th>Category</th>
                    <th>Part Name</th>
                    <th>Manufacturer</th>
                    <th>Manufacturer Part Name</th>
                    <th>Datasheet</th>
                    <th>Description</th>
                    <th>Value</th>
                    <th>Availability</th>
                    <th>Library Reference</th>
                    <th>Library Path</th>
                    <th>Footprint Reference 1</th>
                    <th>Footprint Path 1</th>
                    <th>Footprint Reference 2</th>
                    <th>Footprint Path 2</th>
                    <th>Footprint Reference 3</th>
                    <th>Footprint Path 3</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

{% endblock %}

{% block js %}
    <script src="{{url_for('static', filename='js/search_components.js')}}"></script>
    <script src="{{url_for('static', filename='temp/bundle1.js')}}"></script>
{% endblock %}