{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/settings.css')}}">
{% endblock %}

{% block content %}
    {% if usersEnabled %}
        {% if current_user.is_authenticated %}
            <div class="general-box">
                <div class="label">Witaj {{current_user.name}} {{current_user.family_name}}!</div>
                <a class="logout" href="{{url_for('logout')}}">Wyloguj się</a>
            </div>
            <div class="settings-container">
                <div class="settings-box">
                    <div class="label">Zmień dane użytkownika</div>
                    <form method="POST" class="login-form">
                        {{ changeUserDataForm.hidden_tag()}}

                        <div class="form-group">
                            {{ changeUserDataForm.old_username.label}}
                            {{ changeUserDataForm.old_username(class="form-input")}}
                        </div>

                        <div class="form-group">
                            {{ changeUserDataForm.old_password.label}}
                            {{ changeUserDataForm.old_password(class="form-input")}}
                        </div>

                        <div class="form-group">
                            {{ changeUserDataForm.new_password.label}}
                            {{ changeUserDataForm.new_password(class="form-input")}}
                        </div>

                        <div class="form-group">
                            {{ changeUserDataForm.new_email.label}}
                            {{ changeUserDataForm.new_email(class="form-input")}}
                        </div>

                        <div class="form-group">
                            {{ changeUserDataForm.new_username.label}}
                            {{ changeUserDataForm.new_username(class="form-input")}}
                        </div>

                        {{ changeUserDataForm.accept()}}
                    </form>
                </div>


                {% if current_user.is_admin %}
                <div class="settings-box">
                    <div class="label">Dodaj użytkownika</div>
                    <form method="POST">
                        {{ addUserForm.hidden_tag()}}

                        <div class="form-group">
                            {{ addUserForm.name.label}}
                            {{ addUserForm.name(class="form-input")}}
                        </div>

                        <div class="form-group">
                            {{ addUserForm.family_name.label}}
                            {{ addUserForm.family_name(class="form-input")}}
                        </div>

                        <div class="form-group">
                            {{ addUserForm.email.label}}
                            {{ addUserForm.email(class="form-input")}}
                        </div>

                        <div class="form-group">
                            {{ addUserForm.expired_access_time.label}}
                            {{ addUserForm.expired_access_time(class="form-input")}}
                        </div>

                        <div class="form-group">
                            {{ addUserForm.is_admin.label}}
                            {{ addUserForm.is_admin(class="form-input")}}
                        </div>

                        {{ addUserForm.accept()}}
                    </form>
                </div>
            </div>
            {% endif %}

        {% endif %}
    {% else %}
        Ustawienia są wyłączone.
    {% endif %}
{% endblock %}